apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "linea.maru.fullname" . }}-config
  labels:
    {{- include "linea.labels" (dict "context" . "component" .Values.maru.name "name" .Values.maru.name) | nindent 4 }}
data:
  log4j.xml: |
    <?xml version="1.0" encoding="UTF-8"?>
    <Configuration status="INFO" monitorInterval="2">
      <Properties>
        <Property name="root.log.level">INFO</Property>
      </Properties>

      <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
          <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSSZZZ} | %t | %-5level | %c{1} | %msg %throwable%n" />
        </Console>
      </Appenders>

      <Loggers>
        <Logger name="org.hyperledger.besu" level="WARN" additivity="false">
          <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.hyperledger.besu.consensus.qbft" level="DEBUG"
          additivity="false">
          <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="tech.pegasys.teku" level="INFO" additivity="false">
          <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="maru" level="INFO" additivity="false">
          <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="maru.clients" level="INFO" additivity="false">
          <AppenderRef ref="Console"/>
        </Logger>
        <Root level="${sys:root.log.level}">
          <AppenderRef ref="Console"/>
        </Root>
      </Loggers>
    </Configuration>

  config.toml: |
    allow-empty-blocks = false

    [persistence]
    data-path="/opt/consensys/maru/data"
    private-key-path="/opt/consensys/maru/key"

    [qbft]
    fee-recipient = "0x0000000000000000000000000000000000000000"

    [p2p]
    port = 9000
    ip-address = "0.0.0.0"
    static-peers = []
    reconnect-delay = "500 ms"

    [p2p.discovery]
    port = 9000
    refresh-interval = "2 seconds"

    [p2p.reputation]
    cooldown-period = "2 seconds"
    ban-period = "30 seconds"

    [payload-validator]
    engine-api-endpoint = { endpoint = "http://{{ include "linea.sequencer.addr" . }}:{{ .Values.sequencer.service.serviceEngineApi }}" }
    eth-api-endpoint = { endpoint = "http://{{ include "linea.sequencer.addr" . }}:{{ .Values.sequencer.service.serviceEthApi }}" }

    [follower-engine-apis]
    follower-besu = { endpoint = "http://{{ include "linea.besu.addr" . }}:{{ .Values.besu.service.serviceEngineApi }}" }

    [observability]
    port = {{ .Values.maru.containerPorts.metrics }}
    jvm-metrics-enabled = true
    prometheus-metrics-enabled = {{ .Values.maru.metrics.enabled }}

    [api]
    port = {{ .Values.maru.containerPorts.api }}

    [syncing]
    peer-chain-height-polling-interval = "1 seconds"
    el-sync-status-refresh-interval = "1 seconds"
    use-unconditional-random-download-peer = false
    sync-target-selection = "Highest"
