apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "linea.sequencer.fullname" . }}-config
  labels:
    {{- include "linea.labels" (dict "context" . "component" .Values.sequencer.name "name" .Values.sequencer.name) | nindent 4 }}
data:
  log4j.xml: |
    <?xml version="1.0" encoding="UTF-8"?>
    <Configuration status="INFO" monitorInterval="2">
      <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSSZZZ} | %t | %-5level | %c{1} | %msg %throwable%n" />
        </Console>
      </Appenders>
      <Loggers>
        <!-- edit the package name/level below to add more logging to specific classes -->
        <!-- no need to restart Besu as it will detect changes every 2s -->
        <Logger name="org.hyperledger.besu" level="WARN" />
        <!-- to avoid annoying message "INFO ... No sync target, waiting for peers. Current peers: 0" change to WARN-->
        <Logger name="org.hyperledger.besu.ethereum.eth.sync.fullsync.FullSyncTargetManager" level="INFO" />
        <Logger name="org.hyperledger.besu.ethereum.blockcreation" level="INFO" />
        <Logger name="org.hyperledger.besu.consensus.merge.blockcreation" level="INFO" />
        <Logger name="io.opentelemetry" level="WARN" />
        <Logger name="net.consensys.linea.bl.TransactionProfitabilityCalculator" level="DEBUG" />
        <Logger name="net.consensys.linea.sequencer.txselection" level="DEBUG" />
        <Logger name="net.consensys.linea.sequencer.liveness" level="DEBUG" />
        <Logger name="net.consensys.linea.sequencer.txselection.selectors" level="DEBUG" />
        <Logger name="net.consensys.zkevm.ethereum.finalization" level="DEBUG" />
        <Logger name="org.hyperledger.besu.ethereum.eth.transactions.TransactionPool" level="INFO" />
        <Logger name="org.hyperledger.besu.ethereum.api.jsonrpc" level="INFO" />
        <Logger name="org.hyperledger.besu.ethereum.api.jsonrpc.internal.methods.EthSendRawTransaction" level="DEBUG" />
        <Logger name="org.hyperledger.besu.ethereum.api.jsonrpc.internal.methods.engine.AbstractEngineNewPayload" level="INFO" />
        <Logger name="org.hyperledger.besu.ethereum.blockcreation.txselection.BlockTransactionSelector" level="INFO" >
          <Filters>
            <LevelRangeFilter maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="NEUTRAL" />
            <RegexFilter regex="Transaction selection result .*" useRawMsg="true" onMatch="ACCEPT" onMismatch="DENY" />
          </Filters>
        </Logger>
        <Root level="WARN">
            <AppenderRef ref="Console"/>
        </Root>
      </Loggers>
    </Configuration>

  config.toml: |
    genesis-file="/besu-data/genesis/genesis.json"
    #logging="DEBUG" log is managed via log4j config file
    data-path="/opt/besu/data"
    data-storage-format="FOREST"
    sync-mode="FULL"
    host-allowlist=["*"]
    revert-reason-enabled=true
    p2p-port={{ .Values.sequencer.containerPorts.p2p }}

    target-gas-limit=2000000000
    min-gas-price=0
    tx-pool-min-gas-price=0
    max-peers=10

    # engine
    engine-host-allowlist=["*"]
    engine-rpc-port=8550
    engine-jwt-disabled=true

    # rpc
    rpc-http-enabled=true
    rpc-http-host="0.0.0.0"
    rpc-http-port=8545
    rpc-http-api=["ADMIN","DEBUG","NET","ETH","ENGINE","CLIQUE","MINER","WEB3","TRACE","LINEA"]
    rpc-http-cors-origins=["*"]
    rpc-http-max-active-connections=20000

    # ws
    rpc-ws-enabled=true
    rpc-ws-host="0.0.0.0"
    rpc-ws-port=8546
    rpc-ws-api=["ADMIN","DEBUG","NET","ETH","CLIQUE","MINER","WEB3","TRACE","LINEA"]
    rpc-ws-max-active-connections=200

    # graphql
    graphql-http-enabled=false

    # metrics
    metrics-enabled={{ .Values.sequencer.metrics.enabled }}
    metrics-host="0.0.0.0"
    metrics-port={{ .Values.sequencer.containerPorts.metrics }}

    tx-pool-no-local-priority=false
    # tx-pool-enable-balance-check=true # this would make e2e test fail to deploy L2 contracts
    poa-block-txs-selection-max-time=80
    block-txs-selection-max-time=800
    # plugin-block-txs-selection-max-time=50 #default as 50 which means 400ms

    cache-last-block-headers-preload-enabled=true
    cache-last-block-headers=50

    # plugins
    plugins=["LineaEstimateGasEndpointPlugin","LineaTransactionPoolValidatorPlugin","LineaTransactionSelectorPlugin","LineaTransactionValidatorPlugin"]
    plugin-linea-module-limit-file-path="/besu-data/config/traces-limits.toml"
    plugin-linea-deny-list-path="/besu-data/config/deny-list.txt"
    plugin-linea-estimate-gas-compatibility-mode-enabled=false
    plugin-linea-extra-data-pricing-enabled=true
    plugin-linea-l1l2-bridge-contract="0xe537D669CA013d86EBeF1D64e40fC74CADC91987"
    plugin-linea-l1l2-bridge-topic="e856c2b8bd4eb0027ce32eeaf595c21b0b6b4644b326e5b7bd80a1cf8db72e6c"
    plugin-linea-tx-pool-profitability-check-api-enabled=true
    plugin-linea-tx-pool-profitability-check-p2p-enabled=true
    plugin-linea-tx-pool-simulation-check-api-enabled=false
    plugin-linea-tx-pool-simulation-check-p2p-enabled=false
    plugin-linea-max-block-calldata-size=109000
    plugin-linea-max-tx-calldata-size=60000
    plugin-linea-max-block-gas=55000000
    plugin-linea-tx-pool-min-margin="0"
    plugin-linea-min-margin="0"
    plugin-linea-fixed-gas-cost-wei=30000000
    plugin-linea-variable-gas-cost-wei=1000000000
    plugin-linea-extra-data-set-min-gas-price-enabled=false
    plugin-linea-estimate-gas-min-margin="1.2"
    plugin-linea-limitless-enabled=false
    strict-tx-replay-protection-enabled=false

    Xplugin-rocksdb-high-spec-enabled=true
    Xsynchronizer-fast-sync-full-validation-rate=0.000001
    tx-pool-priority-senders=["0xfe3b557e8fb62b89f4916b721be55ceb828dbd73",
    "0xd42e308fc964b71e18126df469c21b0d7bcb86cc",
    "0x1b9abeec3215d8ade8a33607f2cf0f4f60e5f0d0",
    "0xc8c92fe825d8930b9357c006e0af160dfa727a62"]

    Xin-process-rpc-enabled=true
    Xin-process-rpc-apis=["ETH", "MINER"]

    bonsai-parallel-tx-processing-enabled=false

  deny-list.txt: ""
